@page "{id}"
@model todolistApp.Pages.DetailModel
@{
    var askedTodoId = RouteData.Values["id"];
}

<a asp-page="/edition"><button class="btn btn-outline-primary">Back to editor</button></a>

<div class="row mt-3">
    <div class="col-6 mt-3">
       <h5>Todo detail</h5>

        <table class="table text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.askedTodo.Title</td>
                    <td>@Model.askedTodo.Description</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>