@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TodoListApp</h1>
    <div class="row">
    <p>Welcome to your online todolist Web Applicarion</p>
    <a asp-page="/Edition"><button class="btn btn-outline-primary btn-lg">Enter</button></a>
    </div>
</div>
